@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
  background: linear-gradient(#112, #111);
  font-family: 'Montserrat', sans-serif, Arial;
  font-weight: 600;
  color: #edf0f1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}

li, a, button{
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
}

img{
  border-radius: 1rem;
}

.logo{
  cursor: pointer;
  transition: all .5s ease-out 0s;
}

.logo:hover{
  font-size: 17px;
}

.nav_links{
  list-style: none;
  transition: all .5s ease-out 0s;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
  transition: all .5s ease-out 0s;
}

.nav_links li a{
  transition: color .5s ease-in-out 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_links li a:hover{
  color: #999;
  font-size: 17px;
}

.nav_links li a svg{
  fill: white;
}

button{
  padding: 9px 25px;
  background-color: #00FF00;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: all .5s ease-out 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  background-color: #00e000;
  padding: 10px 26px;
}

button svg{
  fill: white;
}

.articlea{
  justify-content: center;
  padding: 20px 0;
  background: linear-gradient(120deg, #111, #122, #123);
  border-radius: 1rem;
  transition: all .5s ease-out 0s;
}

.articlea a{
  margin-inline: 50px;
}

.articlea p{
  margin-inline: 50px;
  display: flex;
  align-items: center;
}

.articlea span{
  background-image: radial-gradient(#0b9b2fc1, #3c8f50c1, #86b892c1);
  background-clip: text;
  color: transparent;
  transition: all .5s ease-out 0s;
}

.articlea span:hover{
  color: #0ebd3a;
}

.articlea p svg{
  fill: white;
}

.articleb{
  justify-content: center;
  padding: 20px 0;
  background: linear-gradient(120deg, #111, rgb(27, 34, 17), rgb(51, 35, 17));
  border-radius: 1rem;
  transition: all .5s ease-out 0s;
}

.articleb a{
  margin-inline: 50px;
}

.articleb p{
  margin-inline: 50px;
}

.articleb span{
  background-image: radial-gradient(#9b0b0bc1, #8f3c3cc1, #b88686c1);
  background-clip: text;
  color: transparent;
  transition: all .5s ease-out 0s;
}

.articleb span:hover{
  color: #0ebd3a;
}

.articleb p svg{
  fill: white;
}

.selected{
  font-weight: bolder;
}

hr{
  color: white;
}

dialog{
  border: none;
  border-radius: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  background: linear-gradient(120deg, #111111, rgb(17, 34, 21), rgb(17, 51, 20));
  transition: all .5s ease-out 0s;
}

dialog::backdrop{
  background-color: rgba(0, 50, 0, 0.5);
}

dialog h2{
  position: absolute;
  top: 5%;
  left: 32%;
  color: white;
}

.socials-container{
  display: flex;
  gap: 20px;
  position: absolute;
  top: 30%;
  left: 19%;
}

.socials-container a{
  padding: 1em;
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
}

.socials-container a svg{
  fill: white;
  height: 24px;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease 0s;
}

.socials-container a svg:hover{
  height: 32px;
}

.mediumimg{
  height: 300px;
}

.slidercontainer{
  justify-content: center;
  padding: 10px 0;
  background: linear-gradient(120deg, #111, #122, #123);
  border-radius: 1rem;
  transition: all .5s ease-out 0s;
}

.slider{
  position: relative;
  min-width:90vh;
  height: 52vh;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
}

.slider img{
  max-width: 100%;
  height: 500px;
  display: none;
}

img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  transition: all 200ms ease 0s;
}

.slider button:hover{
  padding: 50px 25px;
}

.slider span{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 9px 25px;
  border-radius: 2rem;
  left: 10px;
  bottom: 10px;
  transition: all 0.5s ease 0s;
  animation-name: fade;
  animation-duration: .5s;
}

#sdisplaytip{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 9px 25px;
  border-radius: 2rem;
  left: 90px;
  bottom: 10px;
  transition: all 0.5s ease 0s;
}

.prevs{
  left: 0;
}

.nexts{
  right: 0;
}

.tabs_container{
  margin-bottom: 50px;
}

.tabs{
  display: flex;
  flex-wrap: wrap;
}

.tabs__label{
  padding: 10px 16px;
  cursor: pointer;
}

.tabs__radio{
  display: none;
}

.tabs__radio:checked+.tabs__label{
  font-weight: bold;
  color:rgb(32, 79, 43);
  border-bottom: 2px solid rgb(32, 79, 43);
  border-radius: 1rem;
}

.tabs__radio:checked+.tabs__label+.tabs__content{
  display: initial;
}

.tabs__content{
  order: 1;
  width: 100%;
  line-height: 1.5;
  font-size: .9rem;
  display: none;
  margin-top: 20px;
}

@keyframes fade{
  from {opacity: .5}
  to {opacity: 1}
}