@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  --base: #11121a;
  --line: #42434a;
  --hover: #222533;
  --text: #e6e6ef;
  --accent: #5eff74;
  --darker--accent: #60ca6e;
  --secondary--accent: #3c583e;
  --secondary-txt: #b0b3c1;
  --special-tab: #2e2e31;
}

*{
  margin: 0;
  padding: 0;
  text-wrap:pretty;
}

html{
  font-family: 'montserrat', sans-serif;
  line-height: 1.5rem;
  user-select: none;
}

body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base);
  color: var(--text);
  display: grid;
  grid-template-columns: auto 1fr;
}

button{
  font-family: 'montserrat', sans-serif;
}

#sidebar{
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base);
  border-right: 1px solid var(--line);
  position: sticky;
  top: 0;
  align-self: start;
  transition: .5s ease-in-out;
  overflow: hidden;
  text-wrap: nowrap
}

#sidebar.close{
  padding: 5px;
  width: 69px;
}

#sidebar ul{
  list-style: none;
}

#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}

#sidebar ul, #sidebar li, #sidebar a{
  transition: .3s ease;
}

#sidebar ul li.active a{
  color: var(--accent);

  svg{
    fill: var(--accent);
  }
}

#sidebar ul li.active a:hover{
  background-color: var(--secondary--accent);
}

#sidebar svg{
  flex-shrink: 0;
  fill: var(--text);
  padding-right: 10px;
}

#sidebar .sub-menu a{
  padding-left: 2em;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
  background-color: var(--hover);
}

#sidebar a span, #sidebar .dropdown-btn span{
  flex-grow: 1;
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
  border-radius: .5rem;
  padding: .85em;
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: .5s ease-in-out;

  > div{
    overflow: hidden;
  }
}

#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}

#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg{
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover{
  background-color: var(--hover);
}

main{
  padding: min(30px, 7%);
  animation-name: go-in;
  animation-duration: 2s;
}

main p{
  color: var(--secondary-txt);
}

.container{
  border: 1px solid var(--line);
  border-radius: 1rem;
  margin-bottom: 20px;
  padding: min(3rem, 15%);

  h2, p {margin-top: 1em}
}

.container button{
  background-color: var(--accent);
  border: none;
  border-radius: 3rem;
  color: var(--text);
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .2rem;
  font-family: 'montserrat', sans-serif;
}

.container button:hover{
  background-color: var(--darker--accent);
}

.container button a{
  text-decoration: none;
  color: var(--text);
}

.pcont{
  display: flex;
  justify-content: center;
}

.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.dropdown-btn svg{
  transition: .5s ease;
}

.rotate svg:last-child{
  rotate: 180deg;
}

.slider{
  position: relative;
  min-width:50vh;
  height: 52vh;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.slider img{
  max-width: 100%;
  max-height: 500px;
  border-radius: 1rem;
  display: none;
}

img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: var(--accent);
  transition: all 200ms ease 0s;
  border-radius: 5rem;
  padding: 10px 25px;
}

.slider button:hover{
  padding: 50px 25px;
}

.slider span{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 9px 25px;
  border-radius: 2rem;
  left: 10px;
  bottom: 10px;
  transition: all 0.5s ease 0s;
  animation-name: fade;
  animation-duration: .5s;
}

#sdisplaytip{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 9px 25px;
  border-radius: 2rem;
  left: 90px;
  bottom: 10px;
  transition: all 0.5s ease 0s;
}

.prevs{
  left: 0;
}

.nexts{
  right: 0;
}

.sdisplaytoggle{
  position: absolute;
  top: 7vh;
  right: 4vh;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: var(--accent);
  transition: all 200ms ease 0s;
  border-radius: 5rem;
  padding: 10px 17px;
  display: none;
}

.sdisplaytoggle:hover{
  background-color: var(--darker--accent);
  padding: 11px 18px;
}

.sshow{
  display: block;
}

.special{
  background-color: var(--special-tab);
  border-radius: 1rem;
}

.active{
  border: 1px solid var(--accent);
  border-radius: .5rem;
}

.container li{
  margin-left: 2.5rem;
  margin-top: .5rem;
}

.projecttags{
  font-size: medium;
  margin-top: .5rem;
  background-color: var(--accent);
  border-radius: .5rem;
  width:fit-content;
  padding-left: .5rem;
  padding-right: .5rem;
}

#upcomming, #all, #recent, #tou{
  display: none;
}

.tabs{
  display: flex;
  justify-content: center;
}

.tablinks{
  border: 2px solid var(--secondary-txt);
  padding: 1rem;
  border-radius:5rem;
  margin: .5rem;
  color: var(--text);
  background-color: #11121a;
}

.activetab{
  background-color: var(--secondary-txt);
  color: #11121a
}

#tou h1{
  margin: 2rem 0;
}

@keyframes go-in{
  0%{
    padding: 100%;
  }
  100%{
    padding: min(30px, 7%);
  }
}